<div class="wcl-msry-sizer" id="{{gridId}}-sizer"></div>
<div class="wcl-msry-gutter" id="{{gridId}}-gutter"></div>
<script type='text/javascript'>require(['wclib/js/wc-grid-msry-init'],
   function(grid){grid('{{gridId}}', {columnWidth: '#{{gridId}}-sizer', itemSelector: '.wcl-item', gutter: '#{{gridId}}-gutter', percentPosition: true, horizontalOrder: true});});
</script>
