<div class="grid {{layoutClass}}" id="{{wc.id}}">
	<div class="grid-sizer" id="{{wc.id}}-sizer"></div>
    {{items}}
</div>
<script type='text/javascript'>require(['wclib/js/wc-grid-init'], function(grid){grid('{{wc.id}}', {columnWidth: '#{{wc.id}}-sizer', itemSelector: '.gridItem', percentPosition: true, horizontalOrder: true});});</script>
