<div class="grid-css columns-{{maxColumns}} {{gridClasses}}" id="{{gridId}}">
    {{items}}
    <script type='text/javascript'>require(['wclib/js/wc-grid-init'], function(fit){fit('{{gridId}}');});</script>
</div>
