<div class="grid-item grid-item--width{{spans}} {{itemClasses}}" id="{{itemId}}">
    <div class="grid-item-content" id="{{itemId}}-content">
      {{content}}
      {{#if resize}}
         <script type='text/javascript'>require(['wclib/js/wc-grid-msry-resize'], function(fit){fit('{{gridId}}');});</script>
      {{/if}}
    </div>
</div>