<!-- Individual widgets -->
<div id="{{wc.id}}" class="{{wc.htmlClass}}" >
  <section class="wc-section">
    <header class="wc-decoratedlabel">
        <h1 class="wc_dlbl_seg">{{vw-title}}</h1>
    </header>
    {{vw-toolbar-1}}
    <div>
      {{vw-messages}}
      <div class="cg-grid cg-cols-2 cg-split-30-70 cg-bk-lg cg-gap-l">
        <!-- Left col -->
        <div>
           {{vw-crit}}
           <h2>Result</h2>
           {{vw-poll}}
           {{vw-list}}
        </div>
        <!-- Right col -->
        <div>
           {{vw-toolbar-2}}
           {{vw-entity}}
        </div>
      </div>
    </div>
  </section>
</div>
