<div id="{{wc.id}}" class="{{wc.htmlClass}}" >
  {{vw-toolbar}}
  {{vw-messages}}
  <div class="cg-grid cg-cols-2 cg-split-30-70 cg-bk-lg cg-gap-l">
    <div>
       {{vw-select}}
    </div>
    <div>
       {{vw-entity}}
    </div>
  </div>
</div>
