<div id="{{wc.id}}" class="{{wc.htmlClass}}" >
  {{vw-messages}}
  {{vw-ctrl}}
  <div class="cg-grid cg-gap-l">
    <div class="cg-col-md-4">
       <section class="wc-section">
         {{vw-1}}
       </section>
    </div>
    <div class="cg-col-md-8">
       <section class="wc-section">
         {{vw-2}}
       </section>
    </div>
  </div>
</div>