<!-- Individual widgets -->
<div id="{{wc.id}}" class="{{wc.htmlClass}}" >
    {{vw-toolbar-top}}
    <div class="wc-margin-all-sm">
      {{vw-messages}}
      <div class="cg-grid cg-cols-2 cg-split-30-70 cg-bk-lg cg-gap-l">
        <!-- Left col -->
        <div class="wc-panel-type-box">
           {{vw-crit-msg}}
           {{vw-crit}}
           <h2>Result</h2>
           {{vw-poll}}
           {{vw-list}}
        </div>
        <!-- Right col -->
        <div>
           {{vw-form}}
        </div>
      </div>
    </div>
</div>
