<div class="grid {{wc.layoutClass}}" id="{{wc.id}}">
    <div class="grid-sizer {{wc.layoutClass}}"></div>
    {{items}}
</div>
<script type='text/javascript'>require(['wc/js/tools/wc-grid-init.js'], function(grid){grid('{{wc.id}}', {{wc.gridOptions}});});</script>
